<div class="container">

  <fieldset data-ng-repeat="(Index,rules) in main.array" ng-animate=" 'animate' " class="container-fluid rule">
    <div class="all-if-rule">


      <div class="chek">
        <input type="checkbox" ng-model="hideRules">
      </div>
      <!-- <input class="chek" type="checkbox" ng-model="hideRules" >-->

      <div class="if-rule" data-ng-repeat="(IndexF,rule) in rules.if" ng-hide="hideRules">

        <div class="logic-rule" ng-if="main.typeOfLogic(rule)">
          <button class="btn btn-danger removeF" ng-click="main.deleteNewfilds(rules.if,IndexF)">Field</button>


          <form>
            <label class="radio-inline">
              <input type="radio" data-ng-model="rule.logicOrAnd" ng-value="true" ng-checked="rule.logicOrAnd">
              or </label>

            <label class="radio-inline">
              <input type="radio" data-ng-model="rule.logicOrAnd" ng-value="false" ng-checked="rule.logicOrAnd">
              and </label>

          </form>
        </div>
        <div class="object-rule" ng-if="main.typeOfObject(rule)">
          <div class="dropdown">
             <span>
                <select data-ng-model="rule.target">
                  <option ng-selected="rule.target == 'Placement/App'">Placement/App</option>
                  <option ng-selected="rule.target == 'Carrier'">Carrier</option>
                  <option ng-selected="rule.target == 'Device'">Device</option>
                  <option ng-selected="rule.target == 'OS'">OS</option>
                  <option ng-selected="rule.target == 'Ad exchange'">Ad exchange</option>
                </select>
              </span>
          </div>
          <div class="dropdown1">
            if
            <select data-ng-model="rule.payment">
              <option ng-selected="rule.payment == 'CPA'">CPA</option>
              <option ng-selected="rule.payment == 'Spend'">Spend</option>
              <option ng-selected="rule.payment == 'Imressions'">Imressions</option>
              <option ng-selected="rule.payment == 'Cliks'">Cliks</option>
              <option ng-selected="rule.payment == 'CRM%'">CRM%</option>
              <option ng-selected="rule.payment == 'CPC'">CPC</option>
              <option ng-selected="rule.payment == 'CVR%'">CVR%</option>

            </select>
            </span>
            is
          </div>
          <div class="Groupradio">

            <label>
              <input type="radio" ng-model="rule.compare" value=" Greater then">
              >
            </label><br/>
            <label>
              <input type="radio" ng-model="rule.compare" value="Lesser then">
              <
            </label><br/>
            <label>
              <input type="radio" ng-model="rule.compare" value="equal to">
              =
            </label><br/>
            <label>
              <input type="radio" ng-model="rule.compare" value="lesser or equal to">
              <=
            </label><br/>
            <label>
              <input type="radio" ng-model="rule.compare" value="Greater or equal to">
              >=
            </label><br/>

          </div>
          <div class="inputm">
            <label>
              $
              <input class="money" type="number" ng-model="rule.value" min="0">
            </label>
          </div>

          <div class="add-rule">
            <button class="btn btn-success addfields" ng-click="main.addNewFields(rules.if)">Field+</button>
            <button class="btn btn-success addfields" ng-click="main.addNewGroupFields(rules.if)">Group+</button>
          </div>
        </div>
        <div class="object-rule" ng-if="main.typeOfGroup(rule)">


          <script type="text/ng-template"  id="tree_item_renderer.html">
            <button class="btn btn-success addfields" ng-click="main.addNewGroupFields(data)">Group123</button>
            <button class="btn btn-success addfields" ng-click="main.addNewFieldsToGroups(da
            ta)">Field+Group</button>

            <div class="logic-rule" ng-if="main.typeOfLogic(data)">
              <button class="btn btn-danger removeF" ng-click="main.deleteNewfilds(data,IndexG)">Field</button>

              <form>
                <label class="radio-inline">
                  <input type="radio" data-ng-model="data.logicOrAnd" ng-value="true" ng-checked="data.logicOrAnd">
                  or </label>

                <label class="radio-inline">
                  <input type="radio" data-ng-model="data.logicOrAnd" ng-value="false" ng-checked="data.logicOrAnd">
                  and </label>

              </form>
            </div>
            <div class="object-rule" ng-if="main.typeOfObject(data)">
              <div class="dropdown">
             <span>
                <select data-ng-model="data.target">
                  <option ng-selected="data.target == 'Placement/App'">Placement/App</option>
                  <option ng-selected="data.target == 'Carrier'">Carrier</option>
                  <option ng-selected="data.target == 'Device'">Device</option>
                  <option ng-selected="data.target == 'OS'">OS</option>
                  <option ng-selected="data.target == 'Ad exchange'">Ad exchange</option>
                </select>
              </span>
              </div>
              <div class="dropdown1">
                if
                <select data-ng-model="data.payment">
                  <option ng-selected="data.payment == 'CPA'">CPA</option>
                  <option ng-selected="data.payment == 'Spend'">Spend</option>
                  <option ng-selected="data.payment == 'Imressions'">Imressions</option>
                  <option ng-selected="data.payment == 'Cliks'">Cliks</option>
                  <option ng-selected="data.payment == 'CRM%'">CRM%</option>
                  <option ng-selected="data.payment == 'CPC'">CPC</option>
                  <option ng-selected="data.payment == 'CVR%'">CVR%</option>

                </select>
                </span>
                is
              </div>
              <div class="Groupradio">

                <label>
                  <input type="radio" ng-model="data.compare" value=" Greater then">
                  >
                </label><br/>
                <label>
                  <input type="radio" ng-model="data.compare" value="Lesser then">
                  <
                </label><br/>
                <label>
                  <input type="radio" ng-model="data.compare" value="equal to">
                  =
                </label><br/>
                <label>
                  <input type="radio" ng-model="data.compare" value="lesser or equal to">
                  <=
                </label><br/>
                <label>
                  <input type="radio" ng-model="data.compare" value="Greater or equal to">
                  >=
                </label><br/>

              </div>
              <div class="inputm">
                <label>
                  $
                  <input class="money" type="number" ng-model="data.value" min="0">
                </label>
              </div>
            </div>

            <div class="object-rule" ng-if="main.typeOfGroup(data)">
              <div ng-repeat="(IndexR,data) in data.nodes" ng-include="'tree_item_renderer.html'"></div>
            </div>




          </script>

          <div class="if-rule" data-ng-repeat="(IndexG,data) in rule.nodes"  ng-include="'tree_item_renderer.html'">
          </div>


          <!--<input type="text" ng-model="rule.name" name="" placeholder="Enter name">
          <button class="btn btn-danger remove" ng-click="removeChoice($index)">-</button>-->
        </div>








        <div class="remove">
          <button class="btn btn-danger " ng-click="main.deleteNewlogic(Index)">RULE DELETE</button>
        </div>

        <div class="then-rule">
        </div>


  </fieldset>
  <!--<pre data-ng-repeat="rule in rules.if"> {{ rule.target }}</pre>-->
  <button class="btn btn-primary" ng-click="main.addNewRule(rules)">Add rule</button>


  <!--<button class="btn btn-danger" ng-click="main.deleteNewRule()">Delete rule</button>-->
  <p>{{main.array}}</p>

</div>

