<div class="container">

  <fieldset data-ng-repeat="(Index,rules) in main.array" ng-animate=" 'animate' " class="container-fluid rule">
    <div class="all-if-rule">
      <div>Rules for All Domains:</div>
      <div class="chek">

        <p class="onoff">
          <input type="checkbox" ng-model="hideRules" id="checkboxID1"  value="1">
          <label for="checkboxID1"></label>
        </p>
        <div class="DeleteRule">
        <button class="btn btn-danger " ng-click="main.deleteRule(Index)">RULE DELETE</button>
        </div>
      </div>

      <div class="if-rule" data-ng-repeat="(IndexF,rule) in rules.if" ng-include="'app/main/rule.html'">
      </div>
    </div>

  </fieldset>

  <button class="btn btn-primary" ng-click="main.addNewRule(rules)">Add rule</button>

</div>



