/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  less dependencies when defined in the bower.json of your dependencies
 */
// bower:less
// endbower

/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap/less/variables.less
 */
@navbar-inverse-link-color: #5AADBB;
@icon-font-path: '../../bootstrap/fonts/';

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
.animate-if.ng-enter, .animate-if.ng-leave {
  -webkit-transition: 1s linear all;
  -moz-transition: 1s linear all;
  -ms-transition: 1s linear all;
  -o-transition: 1s linear all;
  transition: 1s linear all;
}
/* du début de l'entrée */
.animate-if.ng-enter {
  max-height: 0;
  opacity: 0;
}
/* à la fin de l'entrée */
.animate-if.ng-enter.ng-enter-active {
  max-height: 999px;
  opacity:1;
}
/* du début de la sortie */
.animate-if.ng-leave {
  max-height: 999px;
  opacity:1;
}
/* à la fin de la sortie */
.animate-if.ng-leave.ng-leave-active {
  max-height: 0;
  opacity:1;
}
.RuleString{
  background-color: #ffffff;

}
.GroupRepeat{
  display:inline-block;
}
.object-group{
  overflow: hidden;
  position: relative;
  min-height:20px;
  background-color: #8ae27c;



  .bracet-begin{
    position: absolute;
    border-left:2px solid #ff0009;
    border-top:2px solid #ff0009;
    border-bottom:2px solid #ff0009;

    left: 0;
    height: 100%;
    width: 7px;
z-index: 1;
    border-radius: 4px;

  }

  .bracet-end{
    position: absolute;
    border-right:2px solid #ff0009;
    border-top:2px solid #ff0009;
    border-bottom:2px solid #ff0009;
    width: 7px;
    height: 100%;
    top: 0;
    right: 0;
    border-radius: 3px;}
}





.container-fluid{
  width:1200px ;
  min-width:1200px ;
  background: #b2d4d4;
  border: 1px solid #020002;
  margin-bottom: 10px;

}
.ng-hide {
  height: 0;
}
.all-if-rule {


  .chec {
    position: relative;
    margin-top: 50px;
  }


  .if-rule {
    float: left;

    margin-bottom: 3px;


    .logic-rule {
      position: relative;
      background-color: #ee625d;
      border-radius: 5px;
      width: 91px;
      //margin-left: -91px;
      display: inline-block;
      z-index: 1;
    }


    .object-rule {
//position: absolute;
      position: relative;
      width: 190px;
      height: 140px;
      margin-top:5px;
margin-right: 5px;


      background-color: #00b3ee;


      .dropdown {
        position: absolute;
        left: 21px;
        top: 35px;
      }
      .dropdown1 {
        position: absolute;
        left: 10px;
        top: 65px;
      }
      .inputm {
        position: absolute;
        left: 10px;
        top: 95px;
        .money {
          width: 80px;
        }
      }
      .Groupradio {
        margin-left: 150px;
      }
    }
  }

  .add-rule {
    float: left;
    display: inline-block;
    .addfields {

    }
  }
  .remove {
    background-color: #ba1d18;
    position: relative;
    width: 45px;
    height: 0px;
    left:1062px;
    bottom: 34px;

  }

}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your less files automatically
 */
// injector
// endinjector
